@import url("https://use.typekit.net/jmk3xov.css");

body {
  margin: 0;
  padding: 0;
  height: 3800px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100%;
  margin-left: 100px;
  margin-top: 200px;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

h1 em {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 0;
  cursor: pointer;
  background: var(--gray-8);
  color: white;
  font-size: 80px;
  font-weight: 700;
  padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
  background: var(--cyan-9);
}

dialog {
  background: black;
  height: 100vh;
  width: 100vw;

}

h1 {

  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--spacing);

}

h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--spacing);
}

p {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--spacing);
}

form {
  display: grid;
  gap: 1em;
}

/* header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  opacity: 0;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;

  margin-top: 650px;
  margin-left: 80px;
  max-width: 550px;

} */



.popup-content {
  padding: 20px;
}

/* #leftBlock {
  position: relative;
  left: 60px;
  /* Initial left position */


/* #blok {


  /* Initial left position */


*/ .left {
  grid-column: 6 / 12;
}

p {
  color: white;
  /* cursor: default; */
}

#contact {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 630px;
  margin-left: 20px;
  max-width: 550px;
  opacity: 0;
}

/* .bodypopUp {
  position: fixed;

  height: 100vh;

} */

.container {
  padding-top: 70px;
  margin: 0 auto;
  max-width: 1000px;
  overflow-y: scroll;
  background-color: blue;

}

/* .container::-webkit-scrollbar {
  display: none;
} */

/* .container { */
/* scrollbar-width: none; */
/* Firefox */
/* -ms-overflow-style: none; */
/* IE and Edge */
/* } */

.H1Modal {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--spacing);
}