@import url("https://use.typekit.net/jmk3xov.css");

body {
  margin: 0;
  padding: 0;
  height: 3800px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100%;
  margin-left: 100px;
  margin-top: 200px;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

h1 em {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  background-color: black;
  /* Green */
  border: none;
  color: #00c0fa;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: black;
  color: #00c0fa;
  border: 2px solid #00c0fa;
}

.button:hover {
  background-color: #00c0fa;
  color: white;
}

dialog {
  background: black;
  height: 100vh;
  width: 100vw;

}


form {
  display: grid;
  gap: 1em;
}

h1 {
  font-family: manrope, sans-serif;
  color: white;
  font-size: 2.8125em;
  font-weight: 600;
  margin-bottom: 25px;

}

h2 {
  font-family: quicksand, sans-serif;
  color: white;
  font-size: 1.875em;
  font-weight: 700;
  margin-bottom: 50px;
}

p {
  font-family: quicksand, sans-serif;
  margin: 0 auto;
  color: white;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 700px;
}

.Bold {
  font-weight: 700;
}

h3 {

  color: white;
  font-size: 1em;


}

h4 {
  color: white;
  font-size: 1em;
  margin-bottom: 25px;
}



#contact {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 630px;
  margin-left: 20px;
  max-width: 550px;
  opacity: 0;
}



.container {
  padding-top: 70px;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 70px;

}


img {

  width: 100%;
  height: auto;
  border-radius: 5px;
}

video {
  margin-bottom: 5px;
  width: 100%;
  height: auto;

}


.column {
  float: left;
  width: 45%;
  padding: 25px;
  margin: 0 auto;

}

.column img {
  margin-top: 12px;
  vertical-align: middle;
  width: 100%;
  height: auto;

}



.headerImg {
  width: 100%;
  height: 100%;
  /* Set a fixed height for all images */
  object-fit: cover;
  /* This property preserves the aspect ratio while covering the entire container */
}

.headerImg img {
  width: 100%;
  height: 481px;
  object-fit: cover;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.clear {
  clear: both;
}


/* Hide scrollbar for the entire body when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Show scrollbar for the modal content only */
.dialog-content {
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  /* Adjust the value as needed */
}

/* Adjust the padding for the modal content */
.dialog-content-padding {
  padding: 20px;
}

/* .modal {
  height: 100%;
  width: 100%;
  border: 1px solid green;
  overflow: hidden;
}

#modal-content {
  width: 100%;
  height: 99%;
  border: 1px solid blue;
  overflow: auto;
  padding-right: 15px;

}

html,
body {
  height: 99%;
  border: 1px solid red;
  overflow: hidden;
} */
.fix {
  position: fixed;
  bottom: 90%;
  left: 0;
  width: 100%;
  height: 100px;
  background: var(--dark-bg);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  transition: 0.5s;
}

.sketchfab-embed-wrapper {

  width: 640px;
  margin: 0 auto;
}

#pAgra {
  margin-top: 50px;
  margin-bottom: -20px;
}

video::-webkit-media-controls {
  display: none !important;
}

video {
  outline: none;
}