@import url("https://use.typekit.net/jmk3xov.css");

body {
  margin: 0;
  padding: 0;
  height: 3800px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}





header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  opacity: 0;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;

  margin-top: 650px;
  margin-left: 80px;
  max-width: 550px;

}

div {
  margin-top: 625px;
  margin-left: 50px;
  max-width: 500px;
  grid-column: 2 / 8;
  opacity: 0;
}

/* #leftBlock {
  position: relative;
  left: 60px;
  /* Initial left position */


/* #blok {


  /* Initial left position */


*/ .left {
  grid-column: 6 / 12;
}

p {
  color: white;
  cursor: default;
}

#contact {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 630px;
  margin-left: 20px;
  max-width: 550px;
  opacity: 0;
}